# Ignore the vscode settings folder
.vscode/

# Ignore KDevelop files
.kdev4/
*.kdev4

# Ignore PyCharm files
.idea/

# Ignore the build, devel and .catkin_workspace files
devel/
build/
.catkin_workspace

# Ignore previous and archive files
prev_*
ARCHIVE/
