# Used to configure some settings for `launch1`
# Link: https://wiki.ros.org/rosconsole#Configuration
# More about logging: https://wiki.ros.org/roscpp/Overview/Logging
# Default contents can be found using
#   cat $ROS_ROOT/config/rosconsole.config

# ROS logger
log4j.logger.ros=INFO

# Set the logging level to debug for the nodes in cpp_basic_nodes
log4j.logger.ros.cpp_basic_nodes=DEBUG
