<?xml version="1.0"?>
<!-- This file contains parameters for the four wheel robot -->
<robot name="fw_robot" xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <!-- Parameters for the robot body (cuboid) -->
    <xacro:property name="body_m" value="20" />    <!-- Mass (kg) -->
    <xacro:property name="body_sx" value="0.544" /> <!-- Side Length: X Axis (m) -->
    <xacro:property name="body_sy" value="0.420" /> <!-- Side Length: Y Axis (m) -->
    <xacro:property name="body_sz" value="0.260" /> <!-- Side Length: Z Axis (m) -->
    <!-- Parameters for robot wheels (cylinders) -->
    <xacro:property name="wheel_m" value="1" />  <!-- Mass (kg) -->
    <xacro:property name="wheel_r" value="0.165" /> <!-- Wheel radius (m) -->
    <xacro:property name="wheel_h" value="0.125" /> <!-- Wheel height (m) -->
    <!-- Parameters for the camera -->
    <xacro:property name="camera_m" value="0.060" />    <!-- Camera mass (kg) -->
    <xacro:property name="camera_sx" value="0.015" />   <!-- Camera side length: X Axis (m) -->
    <xacro:property name="camera_sy" value="0.045" />   <!-- Camera side length: Y Axis (m) -->
    <xacro:property name="camera_sz" value="0.060" />   <!-- Camera side length: Z Axis (m) -->
    <xacro:property name="camera_hfov" value="1.3962634" /> <!-- Camera's horizontal field of view (radians) -->
    <xacro:property name="camera_im_width" value="800" />   <!-- Camera's image width (pixels) -->
    <xacro:property name="camera_im_height" value="800" />  <!-- Camera's image height (pixels) -->
    <!-- Parameters for the LaserScanner -->
    <xacro:property name="lidar_m" value="0.120" /> <!-- LaserScanner mass (kg) -->
    <xacro:property name="lidar_sx" value="0.05" /> <!-- LaserScanner length: X Axis (m) -->
    <xacro:property name="lidar_sy" value="0.05" /> <!-- LaserScanner length: Y Axis (m) -->
    <xacro:property name="lidar_sz" value="0.07" /> <!-- LaserScanner length: Z Axis (m) -->
    <xacro:property name="lidar_ang_min" value="${radians(-50)}" /> <!-- LaserScanner minimum angle (rad) -->
    <xacro:property name="lidar_ang_max" value="${radians(50)}" /> <!-- LaserScanner maximum angle (rad) -->
    <xacro:property name="lidar_ang_samples" value="200" /> <!-- LaserScanner sampled in angle readings (integer) -->
</robot>
